body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 30px;
}

h1 {
    color: #1a237e;
    margin: 20px 0 30px 0;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
    table-layout: fixed;
}

th {
    background-color: #1a237e;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
}

tr:hover {
    background-color: #d8f0ea;
}


input[type="text"],
input[type="number"],
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}


.edit-button, 
.delete-button {
    padding: 6px 12px;
    margin: 0 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.edit-button {
    background-color: #2196f3;
    color: white;
}

.edit-button:hover {
    background-color: #1976d2;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.search-container {
    display: flex;
    width: 1000px;
    align-items: center;
}

.search-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 800px ;
}

.back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1a237e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0d1657;
    color: white;
    text-decoration: none;
}


img {
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 150px;
    height: auto;
}

table input[name="quantity"],
table input[name="price"] {
    width: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#searchResults {
    text-align: center;
    font-size: 16px;
    width: 100%;
}

#searchResults td {
    padding: 10px;
}

.search-results-area {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.search{
    margin-top: 20px;
    width: 100%;
}
.search-container{
    margin-top: 20px;
    margin-left: 50px;
}
.search-icon{
    margin-left: 300px;
}
