body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 14px;
    margin: 10px 0;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(15, 80, 192);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color:rgb(58, 120, 227);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
