* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #003366;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.header {
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height:50px;
}
.admin-info {
    display: flex;
    align-items: center;
}
.admin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.admin-link-active {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
.admin-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.admin-name {
    font-size: 20px;
    color:white;
}
.main-logo{
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
}
.logo-container .website-name {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: -50px;
}
.navbar {
    background-color: #007bff;
    padding: 10px 0;
}
.nav-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar table {
    width: 100%;
}
.navbar table td {
    text-align: center;
    padding: 0;
}
.navbar table td a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.navbar table td a:hover {
    background-color: #0056b3;
}
.navbar table td a.active {
    color: #030269;
    background-color: #e8ecf0;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.footer{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 115px;
}
.content-header h2 {
    margin: 0;
    text-align: left;
}
.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;
}
.search-container input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #007bff;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    background: white;
}
.search-btn {
    padding: 12px 20px;
    background: #007bff;
    border: 2px solid #007bff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon {
    width: 20px;
    height: 20px;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}