body {
    font-family: Arial, sans-serif;
    background-color: #000046;
    
}

form {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;  
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

fieldset {
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    padding: 0 10px;
}

table {
    width: 100%;
}



label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #a4b6e4;
    margin-bottom: 10px;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    border-color: #ffffff;
    background-color: #ffffff;
}

input[type="radio"] {
    margin-right: 5px;
}

button,
input[type="submit"],
input[type="reset"],
a#back-button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button,
input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="reset"],
a#back-button {
    background-color: #6c757d;
    color: #ffffff;
}

input[type="reset"]:hover,
a#back-button:hover {
    background-color: #5a6268;
}

p {
    color: #ff0000;
    font-size: 15px;
    margin: 0;
}

